@using CRMInfo.Data
@inject VentasTotalesService VentasTotalesService

<DxChart Data="@SalesData"
         LabelOverlap="ChartLabelOverlap.Stack"
         Rotated="false"
         CssClass="mw-1100">
    <DxChartTitle Text="Total Ventas" />
    <DxChartValueAxis>
        <DxChartAxisLabel Format="ChartAxisLabelFormat.Thousands"></DxChartAxisLabel>
        <DxChartAxisTitle Text="Importe"></DxChartAxisTitle>
    </DxChartValueAxis>
    <DxChartLegend Position="RelativePosition.Outside" Visible="false" />

    <DxChartCommonSeries AggregationMethod="Enumerable.Sum"
                         NameField="@((VentasTotales s) => "Cliente " + s.Cliente)"
                         ArgumentField="@((VentasTotales s) => s.Anyo)"
                         ValueField="@((VentasTotales s) => s.Total)">
        <SeriesTemplate Context="settings">
            <DxChartBarSeries Settings="@settings">
                <DxChartSeriesLabel Visible="true">
                    <DxChartSeriesLabelConnector Visible="true" Width="3" />
                </DxChartSeriesLabel>
            </DxChartBarSeries>

        </SeriesTemplate>


    </DxChartCommonSeries>

    <DxChartTooltip Enabled="true" Position="RelativePosition.Outside">
        <div style="margin: 0.75rem">
            <div>Año: @(context.Point.Argument)</div>
            <div>Importe: @(context.Point.Value)</div>
        </div>
    </DxChartTooltip>

</DxChart>
@code {

    [Parameter]
    public int Cliente { get; set; }

    List<VentasTotales> SalesData;

    protected override async Task OnInitializedAsync()
    {

        SalesData = await VentasTotalesService.GetVentasTotales(Cliente);
    }

}
